In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('/home/anm/rera_maha/project_maha_mumbai_city_final.csv')

In [4]:
df.head()

,Project ID,Project_name,Project_Status,Pro_date_completion,Project_type,Total_building_count,Area,Street_name,Locality,State,Division,District,Taluka,Village,Pincode,Sanctioned_building_count,Built_up_Area_as_per_Proposed_FSI,Built_up_Area_as_per_Approved_FSI
0,1,Four Seasons Private Residences Phase - 1,On-Going Project,31/12/2020,Residential,1,4069.37,Dr E Moses,Worli,MAHARASHTRA,Konkan,Mumbai City,Ward GSouth,GSouth-400018,400018,1.0,0.00,9405.11
1,2,A. M. Residency,New Project,30/09/2019,Mixed (Plots & Buildings),2,3653.88,MAZGAON,NEXT TO DIAMOND JUBILEE SCHOOL,MAHARASHTRA,Konkan,Mumbai City,Ward E,E-400010,400010,2.0,2437.35,13052.25
2,3,SONAS TOWER,On-Going Project,13/08/2017,Residential,1,691.48,NaN,NaN,MAHARASHTRA,Konkan,Mumbai City,Ward FSouth,FSouth-400012,400012,1.0,0.00,2602.02
3,4,OM SAHIL SOLITAIRE,On-Going Project,21/09/2022,Others,5,7614.54,NaN,NaN,MAHARASHTRA,Konkan,Mumbai City,Ward FSouth,FSouth-400015,400015,4.0,0.00,30458.16
4,5,CHANDAN PRIDE,On-Going Project,31/12/2018,Residential,1,705.75,NaN,NaN,MAHARASHTRA,Konkan,Mumbai City,Mumbai City,Mumbai City,400075,1.0,78.01,2197.93

In [5]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(" ","_")

In [6]:
df.head()

,project_id,project_name,project_status,pro_date_completion,project_type,total_building_count,area,street_name,locality,state,division,district,taluka,village,pincode,sanctioned_building_count,built_up_area_as_per_proposed_fsi,built_up_area_as_per_approved_fsi
0,1,Four Seasons Private Residences Phase - 1,On-Going Project,31/12/2020,Residential,1,4069.37,Dr E Moses,Worli,MAHARASHTRA,Konkan,Mumbai City,Ward GSouth,GSouth-400018,400018,1.0,0.00,9405.11
1,2,A. M. Residency,New Project,30/09/2019,Mixed (Plots & Buildings),2,3653.88,MAZGAON,NEXT TO DIAMOND JUBILEE SCHOOL,MAHARASHTRA,Konkan,Mumbai City,Ward E,E-400010,400010,2.0,2437.35,13052.25
2,3,SONAS TOWER,On-Going Project,13/08/2017,Residential,1,691.48,NaN,NaN,MAHARASHTRA,Konkan,Mumbai City,Ward FSouth,FSouth-400012,400012,1.0,0.00,2602.02
3,4,OM SAHIL SOLITAIRE,On-Going Project,21/09/2022,Others,5,7614.54,NaN,NaN,MAHARASHTRA,Konkan,Mumbai City,Ward FSouth,FSouth-400015,400015,4.0,0.00,30458.16
4,5,CHANDAN PRIDE,On-Going Project,31/12/2018,Residential,1,705.75,NaN,NaN,MAHARASHTRA,Konkan,Mumbai City,Mumbai City,Mumbai City,400075,1.0,78.01,2197.93

In [7]:
proj_id=[]
m=["%.4d" % i for i in range(9781,10625)]
for n in m:    
    proj_id.append('MH'+n)

In [8]:
proj_id

['MH9781',
 'MH9782',
 'MH9783',
 'MH9784',
 'MH9785',
 'MH9786',
 'MH9787',
 'MH9788',
 'MH9789',
 'MH9790',
 'MH9791',
 'MH9792',
 'MH9793',
 'MH9794',
 'MH9795',
 'MH9796',
 'MH9797',
 'MH9798',
 'MH9799',
 'MH9800',
 'MH9801',
 'MH9802',
 'MH9803',
 'MH9804',
 'MH9805',
 'MH9806',
 'MH9807',
 'MH9808',
 'MH9809',
 'MH9810',
 'MH9811',
 'MH9812',
 'MH9813',
 'MH9814',
 'MH9815',
 'MH9816',
 'MH9817',
 'MH9818',
 'MH9819',
 'MH9820',
 'MH9821',
 'MH9822',
 'MH9823',
 'MH9824',
 'MH9825',
 'MH9826',
 'MH9827',
 'MH9828',
 'MH9829',
 'MH9830',
 'MH9831',
 'MH9832',
 'MH9833',
 'MH9834',
 'MH9835',
 'MH9836',
 'MH9837',
 'MH9838',
 'MH9839',
 'MH9840',
 'MH9841',
 'MH9842',
 'MH9843',
 'MH9844',
 'MH9845',
 'MH9846',
 'MH9847',
 'MH9848',
 'MH9849',
 'MH9850',
 'MH9851',
 'MH9852',
 'MH9853',
 'MH9854',
 'MH9855',
 'MH9856',
 'MH9857',
 'MH9858',
 'MH9859',
 'MH9860',
 'MH9861',
 'MH9862',
 'MH9863',
 'MH9864',
 'MH9865',
 'MH9866',
 'MH9867',
 'MH9868',
 'MH9869',
 'MH9870',
 'MH9871',
 'MH9872',
 'MH9873',
 'MH9874',
 'MH9875',
 'MH9876',
 'MH9877',
 'MH9878',
 'MH9879',
 'MH9880',
 'MH9881',
 'MH9882',
 'MH9883',
 'MH9884',
 'MH9885',
 'MH9886',
 'MH9887',
 'MH9888',
 'MH9889',
 'MH9890',
 'MH9891',
 'MH9892',
 'MH9893',
 'MH9894',
 'MH9895',
 'MH9896',
 'MH9897',
 'MH9898',
 'MH9899',
 'MH9900',
 'MH9901',
 'MH9902',
 'MH9903',
 'MH9904',
 'MH9905',
 'MH9906',
 'MH9907',
 'MH9908',
 'MH9909',
 'MH9910',
 'MH9911',
 'MH9912',
 'MH9913',
 'MH9914',
 'MH9915',
 'MH9916',
 'MH9917',
 'MH9918',
 'MH9919',
 'MH9920',
 'MH9921',
 'MH9922',
 'MH9923',
 'MH9924',
 'MH9925',
 'MH9926',
 'MH9927',
 'MH9928',
 'MH9929',
 'MH9930',
 'MH9931',
 'MH9932',
 'MH9933',
 'MH9934',
 'MH9935',
 'MH9936',
 'MH9937',
 'MH9938',
 'MH9939',
 'MH9940',
 'MH9941',
 'MH9942',
 'MH9943',
 'MH9944',
 'MH9945',
 'MH9946',
 'MH9947',
 'MH9948',
 'MH9949',
 'MH9950',
 'MH9951',
 'MH9952',
 'MH9953',
 'MH9954',
 'MH9955',
 'MH9956',
 'MH9957',
 'MH9958',
 'MH9959',
 'MH9960',
 'MH9961',
 'MH9962',
 'MH9963',
 'MH9964',
 'MH9965',
 'MH9966',
 'MH9967',
 'MH9968',
 'MH9969',
 'MH9970',
 'MH9971',
 'MH9972',
 'MH9973',
 'MH9974',
 'MH9975',
 'MH9976',
 'MH9977',
 'MH9978',
 'MH9979',
 'MH9980',
 'MH9981',
 'MH9982',
 'MH9983',
 'MH9984',
 'MH9985',
 'MH9986',
 'MH9987',
 'MH9988',
 'MH9989',
 'MH9990',
 'MH9991',
 'MH9992',
 'MH9993',
 'MH9994',
 'MH9995',
 'MH9996',
 'MH9997',
 'MH9998',
 'MH9999',
 'MH10000',
 'MH10001',
 'MH10002',
 'MH10003',
 'MH10004',
 'MH10005',
 'MH10006',
 'MH10007',
 'MH10008',
 'MH10009',
 'MH10010',
 'MH10011',
 'MH10012',
 'MH10013',
 'MH10014',
 'MH10015',
 'MH10016',
 'MH10017',
 'MH10018',
 'MH10019',
 'MH10020',
 'MH10021',
 'MH10022',
 'MH10023',
 'MH10024',
 'MH10025',
 'MH10026',
 'MH10027',
 'MH10028',
 'MH10029',
 'MH10030',
 'MH10031',
 'MH10032',
 'MH10033',
 'MH10034',
 'MH10035',
 'MH10036',
 'MH10037',
 'MH10038',
 'MH10039',
 'MH10040',
 'MH10041',
 'MH10042',
 'MH10043',
 'MH10044',
 'MH10045',
 'MH10046',
 'MH10047',
 'MH10048',
 'MH10049',
 'MH10050',
 'MH10051',
 'MH10052',
 'MH10053',
 'MH10054',
 'MH10055',
 'MH10056',
 'MH10057',
 'MH10058',
 'MH10059',
 'MH10060',
 'MH10061',
 'MH10062',
 'MH10063',
 'MH10064',
 'MH10065',
 'MH10066',
 'MH10067',
 'MH10068',
 'MH10069',
 'MH10070',
 'MH10071',
 'MH10072',
 'MH10073',
 'MH10074',
 'MH10075',
 'MH10076',
 'MH10077',
 'MH10078',
 'MH10079',
 'MH10080',
 'MH10081',
 'MH10082',
 'MH10083',
 'MH10084',
 'MH10085',
 'MH10086',
 'MH10087',
 'MH10088',
 'MH10089',
 'MH10090',
 'MH10091',
 'MH10092',
 'MH10093',
 'MH10094',
 'MH10095',
 'MH10096',
 'MH10097',
 'MH10098',
 'MH10099',
 'MH10100',
 'MH10101',
 'MH10102',
 'MH10103',
 'MH10104',
 'MH10105',
 'MH10106',
 'MH10107',
 'MH10108',
 'MH10109',
 'MH10110',
 'MH10111',
 'MH10112',
 'MH10113',
 'MH10114',
 'MH10115',
 'MH10116',
 'MH10117',
 'MH10118',
 'MH10119',
 'MH10120',
 'MH10121',
 'MH10122',
 'MH10123',
 'MH10124',
 'MH10125',
 'MH10126',
 'MH10127',
 'MH10128',
 'MH10129',
 'MH10130',
 'MH10131',
 'MH10132',
 'MH10133',
 'MH10134',
 'MH10135',
 'MH10136',
 'MH10137',
 'MH10138',
 'MH10139',
 'MH10140',
 'MH10141',
 'MH10142',
 'MH10143',
 'MH10144',
 'MH10145',
 'MH10146',
 'MH10147',
 'MH10148',
 'MH10149',
 'MH10150',
 'MH10151',
 'MH10152',
 'MH10153',
 'MH10154',
 'MH10155',
 'MH10156',
 'MH10157',
 'MH10158',
 'MH10159',
 'MH10160',
 'MH10161',
 'MH10162',
 'MH10163',
 'MH10164',
 'MH10165',
 'MH10166',
 'MH10167',
 'MH10168',
 'MH10169',
 'MH10170',
 'MH10171',
 'MH10172',
 'MH10173',
 'MH10174',
 'MH10175',
 'MH10176',
 'MH10177',
 'MH10178',
 'MH10179',
 'MH10180',
 'MH10181',
 'MH10182',
 'MH10183',
 'MH10184',
 'MH10185',
 'MH10186',
 'MH10187',
 'MH10188',
 'MH10189',
 'MH10190',
 'MH10191',
 'MH10192',
 'MH10193',
 'MH10194',
 'MH10195',
 'MH10196',
 'MH10197',
 'MH10198',
 'MH10199',
 'MH10200',
 'MH10201',
 'MH10202',
 'MH10203',
 'MH10204',
 'MH10205',
 'MH10206',
 'MH10207',
 'MH10208',
 'MH10209',
 'MH10210',
 'MH10211',
 'MH10212',
 'MH10213',
 'MH10214',
 'MH10215',
 'MH10216',
 'MH10217',
 'MH10218',
 'MH10219',
 'MH10220',
 'MH10221',
 'MH10222',
 'MH10223',
 'MH10224',
 'MH10225',
 'MH10226',
 'MH10227',
 'MH10228',
 'MH10229',
 'MH10230',
 'MH10231',
 'MH10232',
 'MH10233',
 'MH10234',
 'MH10235',
 'MH10236',
 'MH10237',
 'MH10238',
 'MH10239',
 'MH10240',
 'MH10241',
 'MH10242',
 'MH10243',
 'MH10244',
 'MH10245',
 'MH10246',
 'MH10247',
 'MH10248',
 'MH10249',
 'MH10250',
 'MH10251',
 'MH10252',
 'MH10253',
 'MH10254',
 'MH10255',
 'MH10256',
 'MH10257',
 'MH10258',
 'MH10259',
 'MH10260',
 'MH10261',
 'MH10262',
 'MH10263',
 'MH10264',
 'MH10265',
 'MH10266',
 'MH10267',
 'MH10268',
 'MH10269',
 'MH10270',
 'MH10271',
 'MH10272',
 'MH10273',
 'MH10274',
 'MH10275',
 'MH10276',
 'MH10277',
 'MH10278',
 'MH10279',
 'MH10280',
 'MH10281',
 'MH10282',
 'MH10283',
 'MH10284',
 'MH10285',
 'MH10286',
 'MH10287',
 'MH10288',
 'MH10289',
 'MH10290',
 'MH10291',
 'MH10292',
 'MH10293',
 'MH10294',
 'MH10295',
 'MH10296',
 'MH10297',
 'MH10298',
 'MH10299',
 'MH10300',
 'MH10301',
 'MH10302',
 'MH10303',
 'MH10304',
 'MH10305',
 'MH10306',
 'MH10307',
 'MH10308',
 'MH10309',
 'MH10310',
 'MH10311',
 'MH10312',
 'MH10313',
 'MH10314',
 'MH10315',
 'MH10316',
 'MH10317',
 'MH10318',
 'MH10319',
 'MH10320',
 'MH10321',
 'MH10322',
 'MH10323',
 'MH10324',
 'MH10325',
 'MH10326',
 'MH10327',
 'MH10328',
 'MH10329',
 'MH10330',
 'MH10331',
 'MH10332',
 'MH10333',
 'MH10334',
 'MH10335',
 'MH10336',
 'MH10337',
 'MH10338',
 'MH10339',
 'MH10340',
 'MH10341',
 'MH10342',
 'MH10343',
 'MH10344',
 'MH10345',
 'MH10346',
 'MH10347',
 'MH10348',
 'MH10349',
 'MH10350',
 'MH10351',
 'MH10352',
 'MH10353',
 'MH10354',
 'MH10355',
 'MH10356',
 'MH10357',
 'MH10358',
 'MH10359',
 'MH10360',
 'MH10361',
 'MH10362',
 'MH10363',
 'MH10364',
 'MH10365',
 'MH10366',
 'MH10367',
 'MH10368',
 'MH10369',
 'MH10370',
 'MH10371',
 'MH10372',
 'MH10373',
 'MH10374',
 'MH10375',
 'MH10376',
 'MH10377',
 'MH10378',
 'MH10379',
 'MH10380',
 'MH10381',
 'MH10382',
 'MH10383',
 'MH10384',
 'MH10385',
 'MH10386',
 'MH10387',
 'MH10388',
 'MH10389',
 'MH10390',
 'MH10391',
 'MH10392',
 'MH10393',
 'MH10394',
 'MH10395',
 'MH10396',
 'MH10397',
 'MH10398',
 'MH10399',
 'MH10400',
 'MH10401',
 'MH10402',
 'MH10403',
 'MH10404',
 'MH10405',
 'MH10406',
 'MH10407',
 'MH10408',
 'MH10409',
 'MH10410',
 'MH10411',
 'MH10412',
 'MH10413',
 'MH10414',
 'MH10415',
 'MH10416',
 'MH10417',
 'MH10418',
 'MH10419',
 'MH10420',
 'MH10421',
 'MH10422',
 'MH10423',
 'MH10424',
 'MH10425',
 'MH10426',
 'MH10427',
 'MH10428',
 'MH10429',
 'MH10430',
 'MH10431',
 'MH10432',
 'MH10433',
 'MH10434',
 'MH10435',
 'MH10436',
 'MH10437',
 'MH10438',
 'MH10439',
 'MH10440',
 'MH10441',
 'MH10442',
 'MH10443',
 'MH10444',
 'MH10445',
 'MH10446',
 'MH10447',
 'MH10448',
 'MH10449',
 'MH10450',
 'MH10451',
 'MH10452',
 'MH10453',
 'MH10454',
 'MH10455',
 'MH10456',
 'MH10457',
 'MH10458',
 'MH10459',
 'MH10460',
 'MH10461',
 'MH10462',
 'MH10463',
 'MH10464',
 'MH10465',
 'MH10466',
 'MH10467',
 'MH10468',
 'MH10469',
 'MH10470',
 'MH10471',
 'MH10472',
 'MH10473',
 'MH10474',
 'MH10475',
 'MH10476',
 'MH10477',
 'MH10478',
 'MH10479',
 'MH10480',
 'MH10481',
 'MH10482',
 'MH10483',
 'MH10484',
 'MH10485',
 'MH10486',
 'MH10487',
 'MH10488',
 'MH10489',
 'MH10490',
 'MH10491',
 'MH10492',
 'MH10493',
 'MH10494',
 'MH10495',
 'MH10496',
 'MH10497',
 'MH10498',
 'MH10499',
 'MH10500',
 'MH10501',
 'MH10502',
 'MH10503',
 'MH10504',
 'MH10505',
 'MH10506',
 'MH10507',
 'MH10508',
 'MH10509',
 'MH10510',
 'MH10511',
 'MH10512',
 'MH10513',
 'MH10514',
 'MH10515',
 'MH10516',
 'MH10517',
 'MH10518',
 'MH10519',
 'MH10520',
 'MH10521',
 'MH10522',
 'MH10523',
 'MH10524',
 'MH10525',
 'MH10526',
 'MH10527',
 'MH10528',
 'MH10529',
 'MH10530',
 'MH10531',
 'MH10532',
 'MH10533',
 'MH10534',
 'MH10535',
 'MH10536',
 'MH10537',
 'MH10538',
 'MH10539',
 'MH10540',
 'MH10541',
 'MH10542',
 'MH10543',
 'MH10544',
 'MH10545',
 'MH10546',
 'MH10547',
 'MH10548',
 'MH10549',
 'MH10550',
 'MH10551',
 'MH10552',
 'MH10553',
 'MH10554',
 'MH10555',
 'MH10556',
 'MH10557',
 'MH10558',
 'MH10559',
 'MH10560',
 'MH10561',
 'MH10562',
 'MH10563',
 'MH10564',
 'MH10565',
 'MH10566',
 'MH10567',
 'MH10568',
 'MH10569',
 'MH10570',
 'MH10571',
 'MH10572',
 'MH10573',
 'MH10574',
 'MH10575',
 'MH10576',
 'MH10577',
 'MH10578',
 'MH10579',
 'MH10580',
 'MH10581',
 'MH10582',
 'MH10583',
 'MH10584',
 'MH10585',
 'MH10586',
 'MH10587',
 'MH10588',
 'MH10589',
 'MH10590',
 'MH10591',
 'MH10592',
 'MH10593',
 'MH10594',
 'MH10595',
 'MH10596',
 'MH10597',
 'MH10598',
 'MH10599',
 'MH10600',
 'MH10601',
 'MH10602',
 'MH10603',
 'MH10604',
 'MH10605',
 'MH10606',
 'MH10607',
 'MH10608',
 'MH10609',
 'MH10610',
 'MH10611',
 'MH10612',
 'MH10613',
 'MH10614',
 'MH10615',
 'MH10616',
 'MH10617',
 'MH10618',
 'MH10619',
 'MH10620',
 'MH10621',
 'MH10622',
 'MH10623',
 'MH10624']

In [9]:
df["project_id"]=proj_id

In [10]:
df.head()

,project_id,project_name,project_status,pro_date_completion,project_type,total_building_count,area,street_name,locality,state,division,district,taluka,village,pincode,sanctioned_building_count,built_up_area_as_per_proposed_fsi,built_up_area_as_per_approved_fsi
0,MH9781,Four Seasons Private Residences Phase - 1,On-Going Project,31/12/2020,Residential,1,4069.37,Dr E Moses,Worli,MAHARASHTRA,Konkan,Mumbai City,Ward GSouth,GSouth-400018,400018,1.0,0.00,9405.11
1,MH9782,A. M. Residency,New Project,30/09/2019,Mixed (Plots & Buildings),2,3653.88,MAZGAON,NEXT TO DIAMOND JUBILEE SCHOOL,MAHARASHTRA,Konkan,Mumbai City,Ward E,E-400010,400010,2.0,2437.35,13052.25
2,MH9783,SONAS TOWER,On-Going Project,13/08/2017,Residential,1,691.48,NaN,NaN,MAHARASHTRA,Konkan,Mumbai City,Ward FSouth,FSouth-400012,400012,1.0,0.00,2602.02
3,MH9784,OM SAHIL SOLITAIRE,On-Going Project,21/09/2022,Others,5,7614.54,NaN,NaN,MAHARASHTRA,Konkan,Mumbai City,Ward FSouth,FSouth-400015,400015,4.0,0.00,30458.16
4,MH9785,CHANDAN PRIDE,On-Going Project,31/12/2018,Residential,1,705.75,NaN,NaN,MAHARASHTRA,Konkan,Mumbai City,Mumbai City,Mumbai City,400075,1.0,78.01,2197.93

In [11]:
df.tail()

,project_id,project_name,project_status,pro_date_completion,project_type,total_building_count,area,street_name,locality,state,division,district,taluka,village,pincode,sanctioned_building_count,built_up_area_as_per_proposed_fsi,built_up_area_as_per_approved_fsi
839,MH10620,"THE CANVAS RESIDENCES - CANVAS 1, CANVAS 2, CA...",New Project,01/01/2024,Residential,1,6926.58,D. G. MAHAJANI MARG,MUMBAI,MAHARASHTRA,Konkan,Mumbai City,Mumbai City,Mumbai City,400015,1.0,837.95,16363.31
840,MH10621,The Aga Hall Estate,New Project,13/12/2028,Residential,2,16059.31,Nesbit Road,Mazgaon,MAHARASHTRA,Konkan,Mumbai City,Ward E,E-400010,400010,2.0,18472.02,49597.54
841,MH10622,Sanghvi Heights Phase 2,New Project,31/12/2023,Residential,1,2934.60,Antop Hill,Nadkarni Park,MAHARASHTRA,Konkan,Mumbai City,Mumbai City,Mumbai City,400037,1.0,1250.00,1701.21
842,MH10623,BURJ QADRI,New Project,31/12/2022,Others,1,801.01,"2, MOTLIBAI STREET",AGRIPADA,MAHARASHTRA,Konkan,Mumbai City,Ward E,E-400011,400011,1.0,416.00,3496.66
843,MH10624,Essgee Options One -Phase II,New Project,31/12/2022,Commercial,1,4853.27,Senapati Bapat Road,Dadar,MAHARASHTRA,Konkan,Mumbai City,Mumbai City,Mumbai City,400028,1.0,234.42,4821.00

In [12]:
df=df.drop("sanctioned_building_count", axis=1)

In [13]:
df.dtypes

project_id                            object
project_name                          object
project_status                        object
pro_date_completion                   object
project_type                          object
total_building_count                   int64
area                                 float64
street_name                           object
locality                              object
state                                 object
division                              object
district                              object
taluka                                object
village                               object
pincode                                int64
built_up_area_as_per_proposed_fsi    float64
built_up_area_as_per_approved_fsi    float64
dtype: object

In [14]:
df.columns

Index(['project_id', 'project_name', 'project_status', 'pro_date_completion',
       'project_type', 'total_building_count', 'area', 'street_name',
       'locality', 'state', 'division', 'district', 'taluka', 'village',
       'pincode', 'built_up_area_as_per_proposed_fsi',
       'built_up_area_as_per_approved_fsi'],
      dtype='object')

In [15]:
con_dict={'total_building_count':float, 'area' :float,'pincode': int,'built_up_area_as_per_proposed_fsi': float, 'built_up_area_as_per_approved_fsi':float}

In [16]:
df['pro_date_completion']=pd.to_datetime(df['pro_date_completion'])

In [17]:
df=df.astype(con_dict)

In [18]:
df.dtypes

project_id                                   object
project_name                                 object
project_status                               object
pro_date_completion                  datetime64[ns]
project_type                                 object
total_building_count                        float64
area                                        float64
street_name                                  object
locality                                     object
state                                        object
division                                     object
district                                     object
taluka                                       object
village                                      object
pincode                                       int64
built_up_area_as_per_proposed_fsi           float64
built_up_area_as_per_approved_fsi           float64
dtype: object

In [19]:
df.rename(columns = {'pro_date_completion':'proposed_completion_date'}, inplace = True)
df.rename(columns = {'total_building_count':'total_building_unit'}, inplace = True)
df.rename(columns = {'area':'total_area'}, inplace = True)
df.rename(columns = {'street_name':'street','built_up_area_as_per_approved_fsi':'approved_build_up_area'}, inplace = True)

In [20]:
df.tail()

,project_id,project_name,project_status,proposed_completion_date,project_type,total_building_unit,total_area,street,locality,state,division,district,taluka,village,pincode,built_up_area_as_per_proposed_fsi,approved_build_up_area
839,MH10620,"THE CANVAS RESIDENCES - CANVAS 1, CANVAS 2, CA...",New Project,2024-01-01,Residential,1.0,6926.58,D. G. MAHAJANI MARG,MUMBAI,MAHARASHTRA,Konkan,Mumbai City,Mumbai City,Mumbai City,400015,837.95,16363.31
840,MH10621,The Aga Hall Estate,New Project,2028-12-13,Residential,2.0,16059.31,Nesbit Road,Mazgaon,MAHARASHTRA,Konkan,Mumbai City,Ward E,E-400010,400010,18472.02,49597.54
841,MH10622,Sanghvi Heights Phase 2,New Project,2023-12-31,Residential,1.0,2934.60,Antop Hill,Nadkarni Park,MAHARASHTRA,Konkan,Mumbai City,Mumbai City,Mumbai City,400037,1250.00,1701.21
842,MH10623,BURJ QADRI,New Project,2022-12-31,Others,1.0,801.01,"2, MOTLIBAI STREET",AGRIPADA,MAHARASHTRA,Konkan,Mumbai City,Ward E,E-400011,400011,416.00,3496.66
843,MH10624,Essgee Options One -Phase II,New Project,2022-12-31,Commercial,1.0,4853.27,Senapati Bapat Road,Dadar,MAHARASHTRA,Konkan,Mumbai City,Mumbai City,Mumbai City,400028,234.42,4821.00

In [21]:
df.columns

Index(['project_id', 'project_name', 'project_status',
       'proposed_completion_date', 'project_type', 'total_building_unit',
       'total_area', 'street', 'locality', 'state', 'division', 'district',
       'taluka', 'village', 'pincode', 'built_up_area_as_per_proposed_fsi',
       'approved_build_up_area'],
      dtype='object')

In [22]:
df=df.drop("built_up_area_as_per_proposed_fsi", axis=1)

In [23]:
df.to_csv('/home/anm/rera_maha/final_maha/mumbai_city/mumbai_city_final.csv', index=False)

In [24]:
#import data for maha rera

# Imports
import pandas as pd
from sqlalchemy import create_engine

# This CSV doesn't have a header so pass
# column names as an argument
columns = [
'project_id', 'project_name', 'project_status',
       'proposed_completion_date', 'project_type', 'total_building_unit',
       'total_area', 'street', 'locality', 'state', 'division', 'district',
       'taluka', 'village', 'pincode', 'approved_build_up_area'
    
]

# Load in the data
df = pd.read_csv(
    "/home/anm/rera_maha/final_maha/mumbai_city/mumbai_city_final.csv"    
)

# Instantiate sqlachemy.create_engine object
engine = create_engine('postgresql://postgres:2020@localhost:5432/Real Estate')

# Save the data from dataframe to
# postgres table "iris_dataset"
df.to_sql(
    'projects', 
    engine,
    index=False, # Not copying over the index
    if_exists='append'
   
)

In [25]:
import pandas as pd
import numpy as np
import openpyxl
from openpyxl import load_workbook
from numpy import nan
def write_excel(filename,sheetname,dataframe):
    with pd.ExcelWriter(filename, engine='openpyxl', mode='a') as writer: 
        workBook = writer.book
        try:
            workBook.remove(workBook[sheetname])
        except:
            print("Worksheet does not exist")
        finally:
            dataframe.to_excel(writer, sheet_name=sheetname,index=False)
            writer.save()
            
def write_empty_excel(filename,sheetname,dataframe):
    with pd.ExcelWriter(filename, engine='openpyxl', mode='a') as writer: 
        workBook = writer.book
        dataframe.to_excel(writer, sheet_name=sheetname,index=False)
        writer.save()
        
def check_building_sheet(min, max):

    for j in range(min, max):

        workbook = load_workbook(filename="/home/anm/rera_maha/mumbai_city/Project_"+str(j)+".xlsx")
        workbook.sheetnames

        sheet_list=[]

        for i in workbook.sheetnames:

            sheet_list.append(i)

        if 'Building Details' not in sheet_list:  
            print('not found')
        else: 
            print('found')

In [29]:
data = np.array(['NULL','NULL','NULL'])[np.newaxis]
data1=np.array(['NULL','NULL','NULL','NULL','NULL'])[np.newaxis]
data2=np.array(['NULL','NULL','NULL','NULL','NULL','NULL','NULL','NULL','NULL','NULL','NULL'])[np.newaxis]
bd_list = []
odd_row=[]

header_list=['Sr.No.','Tasks / Activity','Percentage of Work']
header_list1=['Sr.No.','Apartment Type','Carpet Area (in Sqmts)','Number of Apartment','Number of Booked Apartment']
header_list2 = ['Sr.No.', 'Project Name', 'Name', 'Proposed Date of Completion', 'Number of Basement\'s',
                               'Number of Plinth', 'Number of Podium\'s', 'Number of Slab of Super Structure', 'Number of Stilts',
                               'Number of Open Parking', 'Number of Closed Parking']
for j in range(1,845):
    
    workbook = load_workbook(filename="/home/anm/rera_maha/mumbai_city/Project_"+str(j)+".xlsx")
    workbook.sheetnames
    
    sheet_list=[]
    
    for i in workbook.sheetnames:
            
            sheet_list.append(i)
            
    
    if 'Building Details' not in sheet_list:  
        dummy_df = pd.DataFrame(data,columns = header_list) 
        dummy_df1 = pd.DataFrame(data1,columns = header_list1)
        dummy_df2 = pd.DataFrame(data2,columns = header_list2)
        write_empty_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(j)+'.xlsx', "Building Details", dummy_df)
        
        write_empty_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(j)+'.xlsx', "Building Details", dummy_df1)
        write_empty_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(j)+'.xlsx', "Building Details", dummy_df2)
        print(j)
        print(dummy_df2)

In [30]:
proj_list=[]
m=["%.4d" % i for i in range(9781,10625)]
for n in m:    
    proj_list.append(n)
for j in range(1,845):
    sheet_list=[]
    workbook = load_workbook(filename="/home/anm/rera_maha/mumbai_city/Project_"+str(j)+".xlsx")
    workbook.sheetnames
    print(j)
    for i in workbook.sheetnames:
        sheet_list.append(i)
    for l in range(0, len(sheet_list)):

        df_n = pd.read_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(j)+'.xlsx', sheet_name = sheet_list[l])
        df_n.insert(0, "project_id",'MH'+proj_list[j-1])
        write_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(j)+'.xlsx', sheet_list[l], df_n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844

IndexError: list index out of range

In [32]:
for j in range(16,845):
    print(j)
    workbook = load_workbook(filename="/home/anm/rera_maha/mumbai_city/Project_"+str(j)+".xlsx")
    workbook.sheetnames
    m=1
    bd_list = []
    odd_row=[]
    for i in workbook.sheetnames:
        if i.startswith('Building Detail')==True:
            bd_list.append(i)
            len(bd_list)
            bd_list1=bd_list[:len(bd_list)-1]
            bd_list1
            bd_list
            bd_list[len(bd_list)-1]
    df = pd.read_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(j)+'.xlsx', sheet_name=bd_list[len(bd_list)-1])
    df1=pd.DataFrame(df)
    row = df1.shape
    for k in range(0,row[0]):
        if k%2!=0:
            odd_row.append(k)
        odd_row
    df1.drop(odd_row, axis=0, inplace=True)

    write_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(j)+'.xlsx', bd_list[len(bd_list)-1], df1)
    no_of_building=df1.shape[0]

    for l in range(0, len(bd_list1)):

        df_n = pd.read_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(j)+'.xlsx', sheet_name = bd_list1[l])
     
        df_n.insert(0, "Building_no" , m)
        if df_n['Sr.No.'].isnull().values.any():
            df_n['Building_no'] = nan
        write_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(j)+'.xlsx', bd_list1[l], df_n)
        if l%2 != 0:
            m=m+1
            #write_excel('/home/anm/rera_maha/nagpur/Project_'+str(j)+'.xlsx', bd_list1[l], df_n)

16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844

In [33]:
import openpyxl
from openpyxl import load_workbook
from numpy import nan

In [34]:
#Building_Detail_task_activity
df1=pd.DataFrame()
for k in range(1,845):    
    
    workbook = load_workbook(filename="/home/anm/rera_maha/mumbai_city/Project_"+str(k)+".xlsx")
    bd_list=[]
    for i in workbook.sheetnames:  
        if i.startswith('Building Detail')==True:
            bd_list.append(i)
    l=len(bd_list)-1
    bd_list.remove("Building Details"+str(l))
        #df1=pd.DataFrame()
    for i in range(len(bd_list)):
        if i%2!=0:
            bd_list[i]
            df= pd.read_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(k)+'.xlsx', sheet_name=bd_list[i])
            df1=df1.append(df)
    print(k)
df1.to_csv('/home/anm/rera_maha/final_maha/mumbai_city/Building_Detail_task_activity.csv', index=False)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844

In [35]:
df_t=pd.read_csv('/home/anm/rera_maha/final_maha/mumbai_city/Building_Detail_task_activity.csv')

In [36]:
df_t.head()

,Building_no,project_id,Unnamed: 0,Sr.No.,Tasks / Activity,Percentage of Work,Apartment Type,Carpet Area (in Sqmts),Number of Apartment,Number of Booked Apartment,Unnamed: 1
0,1.0,MH9781,0.0,1.0,Excavation,100.0,NaN,NaN,NaN,NaN,NaN
1,1.0,MH9781,1.0,2.0,X number of Basement(s) and Plinth,100.0,NaN,NaN,NaN,NaN,NaN
2,1.0,MH9781,2.0,3.0,X number of Podiums,0.0,NaN,NaN,NaN,NaN,NaN
3,1.0,MH9781,3.0,4.0,Stilt Floor,0.0,NaN,NaN,NaN,NaN,NaN
4,1.0,MH9781,4.0,5.0,X number of Slabs of Super\n ...,100.0,NaN,NaN,NaN,NaN,NaN

In [37]:
df_t=df_t.drop("Unnamed: 0", axis=1)
df_t.columns=df_t.columns.str.lower()

In [38]:
df_t.columns

Index(['building_no', 'project_id', 'sr.no.', 'tasks / activity',
       'percentage of work', 'apartment type', 'carpet area (in sqmts)',
       'number of apartment', 'number of booked apartment', 'unnamed: 1'],
      dtype='object')

In [39]:
df_t.columns=df_t.columns.str.replace("/","")
df_t.columns=df_t.columns.str.replace(".","")
df_t.columns=df_t.columns.str.replace(" ","_")
df_t.columns=df_t.columns.str.replace("(","_")
df_t.columns=df_t.columns.str.replace(")","")
df_t.columns=df_t.columns.str.replace("__","_")

In [40]:
df_t.columns

Index(['building_no', 'project_id', 'srno', 'tasks_activity',
       'percentage_of_work', 'apartment_type', 'carpet_area_in_sqmts',
       'number_of_apartment', 'number_of_booked_apartment', 'unnamed:_1'],
      dtype='object')

In [41]:
df_t.head()

,building_no,project_id,srno,tasks_activity,percentage_of_work,apartment_type,carpet_area_in_sqmts,number_of_apartment,number_of_booked_apartment,unnamed:_1
0,1.0,MH9781,1.0,Excavation,100.0,NaN,NaN,NaN,NaN,NaN
1,1.0,MH9781,2.0,X number of Basement(s) and Plinth,100.0,NaN,NaN,NaN,NaN,NaN
2,1.0,MH9781,3.0,X number of Podiums,0.0,NaN,NaN,NaN,NaN,NaN
3,1.0,MH9781,4.0,Stilt Floor,0.0,NaN,NaN,NaN,NaN,NaN
4,1.0,MH9781,5.0,X number of Slabs of Super\n ...,100.0,NaN,NaN,NaN,NaN,NaN

In [44]:
df_t=df_t.drop("unnamed:_1", axis=1)

In [45]:
df_t.to_csv('/home/anm/rera_maha/final_maha/mumbai_city/Building_Detail_task_activity_final.csv', index=False)

In [46]:
import pandas as pd
from sqlalchemy import create_engine

# This CSV doesn't have a header so pass
# column names as an argument
columns = [
'building_no', 'project_id', 'srno', 'tasks_activity',
       'percentage_of_work', 'apartment_type', 'carpet_area_in_sqmts',
       'number_of_apartment', 'number_of_booked_apartment'
]

# Load in the data
df = pd.read_csv('/home/anm/rera_maha/final_maha/mumbai_city/Building_Detail_task_activity_final.csv') 

# Instantiate sqlachemy.create_engine object
engine = create_engine('postgresql://postgres:2020@localhost:5432/Real Estate')

# Save the data from dataframe to
# postgres table "iris_dataset"
df.to_sql(
    'buildings_task_activity_details', 
    engine,
    index=False, # Not copying over the index
    if_exists='append'
   
)

In [142]:
#bhk details append
df1=pd.DataFrame()
for k in range(1,845):    
    
    workbook = load_workbook(filename="/home/anm/rera_maha/mumbai_city/Project_"+str(k)+".xlsx")
    bd_list=[]
    for i in workbook.sheetnames:  
        if i.startswith('Building Detail')==True:
            bd_list.append(i)
            
    
    l=len(bd_list)-1
    bd_list.remove("Building Details"+str(l))
        #df1=pd.DataFrame()
    for i in range(len(bd_list)):
        
        if i%2==0:
           
            bd_list[i]
            df= pd.read_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(k)+'.xlsx', sheet_name=bd_list[i])
            df1=df1.append(df)
    print(k)
df1.to_csv('/home/anm/rera_maha/final_maha/mumbai_city/Building_Detail_all.csv', index=False)

/home/anm/.local/lib/python3.6/site-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844

In [143]:
df_b=pd.read_csv('/home/anm/rera_maha/final_maha/mumbai_city/Building_Detail_all.csv')

In [144]:
df_b.head()

,Building_no,project_id,Unnamed: 0,Sr.No.,Apartment Type,Carpet Area (in Sqmts),Number of Apartment,Number of Booked Apartment,Tasks / Activity,Percentage of Work,Unnamed: 1
0,1.0,MH9781,0.0,1.0,Simplex 1403,44.2,1.0,1.0,NaN,NaN,NaN
1,1.0,MH9781,1.0,2.0,Simplex 1501,248.1,1.0,0.0,NaN,NaN,NaN
2,1.0,MH9781,2.0,3.0,Simplex 1601,248.1,1.0,0.0,NaN,NaN,NaN
3,1.0,MH9781,3.0,4.0,Duplex5BHK 3501,402.18,1.0,1.0,NaN,NaN,NaN
4,1.0,MH9781,4.0,5.0,Simplex 3701,258.03,1.0,1.0,NaN,NaN,NaN

In [145]:
df_b=df_b.drop("Unnamed: 0", axis=1)

In [146]:
df_b=df_b.drop("Unnamed: 1", axis=1)

In [147]:
df_b.columns=df_b.columns.str.lower()

In [148]:
df_b.columns

Index(['building_no', 'project_id', 'sr.no.', 'apartment type',
       'carpet area (in sqmts)', 'number of apartment',
       'number of booked apartment', 'tasks / activity', 'percentage of work'],
      dtype='object')

In [149]:
df_b.columns=df_b.columns.str.replace("/","")
df_b.columns=df_b.columns.str.replace(" ","_")
df_b.columns=df_b.columns.str.replace("(","_")
df_b.columns=df_b.columns.str.replace(")","")
df_b.columns=df_b.columns.str.replace("__","_")
df_b.columns=df_b.columns.str.replace(".","")

In [150]:
df_b.columns

Index(['building_no', 'project_id', 'srno', 'apartment_type',
       'carpet_area_in_sqmts', 'number_of_apartment',
       'number_of_booked_apartment', 'tasks_activity', 'percentage_of_work'],
      dtype='object')

In [151]:
df_b.head()

,building_no,project_id,srno,apartment_type,carpet_area_in_sqmts,number_of_apartment,number_of_booked_apartment,tasks_activity,percentage_of_work
0,1.0,MH9781,1.0,Simplex 1403,44.2,1.0,1.0,NaN,NaN
1,1.0,MH9781,2.0,Simplex 1501,248.1,1.0,0.0,NaN,NaN
2,1.0,MH9781,3.0,Simplex 1601,248.1,1.0,0.0,NaN,NaN
3,1.0,MH9781,4.0,Duplex5BHK 3501,402.18,1.0,1.0,NaN,NaN
4,1.0,MH9781,5.0,Simplex 3701,258.03,1.0,1.0,NaN,NaN

In [152]:
df_b.to_csv('/home/anm/rera_maha/final_maha/mumbai_city/Building_Detail_all_final.csv', index=False)

In [153]:
import pandas as pd
from sqlalchemy import create_engine

# This CSV doesn't have a header so pass
# column names as an argument
columns = [
'building_no', 'project_id', 'srno', 'apartment_type',
       'carpet_area_in_sqmts', 'number_of_apartment',
       'number_of_booked_apartment', 'tasks_activity', 'percentage_of_work'
]

# Load in the data
df = pd.read_csv('/home/anm/rera_maha/final_maha/mumbai_city/Building_Detail_all_final.csv') 

# Instantiate sqlachemy.create_engine object
engine = create_engine('postgresql://postgres:2020@localhost:5432/Real Estate')

# Save the data from dataframe to
# postgres table "iris_dataset"
df.to_sql(
    'building_details', 
    engine,
    index=False, # Not copying over the index
    if_exists='append'
   
)

In [61]:
#appending building blocks
df1=pd.DataFrame()
for k in range(1,845):    
    
    workbook = load_workbook(filename="/home/anm/rera_maha/mumbai_city/Project_"+str(k)+".xlsx")
    bd_list=[]
    for i in workbook.sheetnames:  
        if i.startswith('Building Detail')==True:
            bd_list.append(i)
            
    
    l=len(bd_list)-1
    df= pd.read_excel('/home/anm/rera_maha/mumbai_city/Project_'+str(k)+'.xlsx', sheet_name="Building Details"+str(l))
    df1=df1.append(df)
    print(k)
df1.to_csv('/home/anm/rera_maha/final_maha/mumbai_city/building_block_details.csv', index=False)

/home/anm/.local/lib/python3.6/site-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844

In [129]:
df_bb=pd.read_csv('/home/anm/rera_maha/final_maha/mumbai_city/building_block_details.csv')

In [130]:
df_bb.head()

,project_id,Unnamed: 0,Sr.No.,Project Name,Name,Proposed Date of Completion,Number of Basement's,Number of Plinth,Number of Podium's,Number of Slab of Super Structure,Number of Stilts,Number of Open Parking,Number of Closed Parking,Building_no,Unnamed: 1
0,MH9781,0.0,1.0,Four Seasons Private Residences Phase - 1,Four Seasons Residences,31/12/2020,2.0,1.0,0.0,45.0,0.0,0.0,113.0,NaN,NaN
1,MH9782,0.0,1.0,A. M. Residency,BUILDING NO 1,30/09/2019,0.0,1.0,0.0,8.0,0.0,100.0,0.0,NaN,NaN
2,MH9782,2.0,2.0,A. M. Residency,BUILDING NO 2,30/09/2019,0.0,1.0,0.0,8.0,0.0,27.0,0.0,NaN,NaN
3,MH9783,0.0,1.0,SONAS TOWER,Sonas Tower,NaN,0.0,1.0,0.0,18.0,0.0,0.0,0.0,NaN,NaN
4,MH9784,0.0,1.0,OM SAHIL SOLITAIRE,BLDG NO 1 REHAB,NaN,0.0,1.0,0.0,14.0,1.0,8.0,10.0,NaN,NaN

In [131]:
df_bb.columns

Index(['project_id', 'Unnamed: 0', 'Sr.No.', 'Project Name', 'Name',
       'Proposed Date of Completion', 'Number of Basement's',
       'Number of Plinth', 'Number of Podium's',
       'Number of Slab of Super Structure', 'Number of Stilts',
       'Number of Open Parking', 'Number of Closed Parking', 'Building_no',
       'Unnamed: 1'],
      dtype='object')

In [132]:
df_bb=df_bb.drop("Unnamed: 0",axis=1)

In [133]:
df_bb.columns=df_bb.columns.str.lower()
df_bb.columns=df_bb.columns.str.replace("'","")
df_bb.columns=df_bb.columns.str.replace("/","")
df_bb.columns=df_bb.columns.str.replace(" ","_")
df_bb.columns=df_bb.columns.str.replace("(","_")
df_bb.columns=df_bb.columns.str.replace(")","")
df_bb.columns=df_bb.columns.str.replace("__","_")
df_bb.columns=df_bb.columns.str.replace(".","")

In [134]:
df_bb.columns

Index(['project_id', 'srno', 'project_name', 'name',
       'proposed_date_of_completion', 'number_of_basements',
       'number_of_plinth', 'number_of_podiums',
       'number_of_slab_of_super_structure', 'number_of_stilts',
       'number_of_open_parking', 'number_of_closed_parking', 'building_no',
       'unnamed:_1'],
      dtype='object')

In [135]:
df_bb.head()

,project_id,srno,project_name,name,proposed_date_of_completion,number_of_basements,number_of_plinth,number_of_podiums,number_of_slab_of_super_structure,number_of_stilts,number_of_open_parking,number_of_closed_parking,building_no,unnamed:_1
0,MH9781,1.0,Four Seasons Private Residences Phase - 1,Four Seasons Residences,31/12/2020,2.0,1.0,0.0,45.0,0.0,0.0,113.0,NaN,NaN
1,MH9782,1.0,A. M. Residency,BUILDING NO 1,30/09/2019,0.0,1.0,0.0,8.0,0.0,100.0,0.0,NaN,NaN
2,MH9782,2.0,A. M. Residency,BUILDING NO 2,30/09/2019,0.0,1.0,0.0,8.0,0.0,27.0,0.0,NaN,NaN
3,MH9783,1.0,SONAS TOWER,Sonas Tower,NaN,0.0,1.0,0.0,18.0,0.0,0.0,0.0,NaN,NaN
4,MH9784,1.0,OM SAHIL SOLITAIRE,BLDG NO 1 REHAB,NaN,0.0,1.0,0.0,14.0,1.0,8.0,10.0,NaN,NaN

In [136]:
df_bb=df_bb.drop("unnamed:_1", axis=1)

In [137]:
df_bb

,project_id,srno,project_name,name,proposed_date_of_completion,number_of_basements,number_of_plinth,number_of_podiums,number_of_slab_of_super_structure,number_of_stilts,number_of_open_parking,number_of_closed_parking,building_no
0,MH9781,1.0,Four Seasons Private Residences Phase - 1,Four Seasons Residences,31/12/2020,2.0,1.0,0.0,45.0,0.0,0.0,113.0,NaN
1,MH9782,1.0,A. M. Residency,BUILDING NO 1,30/09/2019,0.0,1.0,0.0,8.0,0.0,100.0,0.0,NaN
2,MH9782,2.0,A. M. Residency,BUILDING NO 2,30/09/2019,0.0,1.0,0.0,8.0,0.0,27.0,0.0,NaN
3,MH9783,1.0,SONAS TOWER,Sonas Tower,NaN,0.0,1.0,0.0,18.0,0.0,0.0,0.0,NaN
4,MH9784,1.0,OM SAHIL SOLITAIRE,BLDG NO 1 REHAB,NaN,0.0,1.0,0.0,14.0,1.0,8.0,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1125,MH10621,1.0,The Aga Hall Estate,Wing A,13/12/2028,3.0,1.0,5.0,63.0,1.0,4.0,271.0,NaN
1126,MH10621,2.0,The Aga Hall Estate,Wing B,13/12/2028,3.0,1.0,5.0,73.0,1.0,0.0,386.0,NaN
1127,MH10622,1.0,Sanghvi Heights Phase 2,Sanghvi Heights Phase 2,31/12/2023,0.0,0.0,0.0,8.0,0.0,0.0,19.0,NaN
1128,MH10623,1.0,BURJ QADRI,BURJ QADRI,31/12/2022,0.0,1.0,4.0,22.0,1.0,0.0,1.0,NaN
1129,MH10624,1.0,Essgee Options One -Phase II,Essgee Options One,31/12/2022,0.0,0.0,0.0,2.0,0.0,0.0,0.0,NaN

In [138]:
df_bb=df_bb.drop("building_no", axis=1)

In [139]:
df_bb['proposed_date_of_completion']=pd.to_datetime(df_bb['proposed_date_of_completion'])

In [140]:
df_bb.to_csv('/home/anm/rera_maha/final_maha/mumbai_city/building_block_details_final.csv', index=False)

In [141]:
#import data for telangana rera

# Imports
import pandas as pd
from sqlalchemy import create_engine

# This CSV doesn't have a header so pass
# column names as an argument
columns = [
'project_id', 'srno', 'project_name', 'name',
       'proposed_date_of_completion', 'number_of_basements',
       'number_of_plinth', 'number_of_podiums',
       'number_of_slab_of_super_structure', 'number_of_stilts',
       'number_of_open_parking', 'number_of_closed_parking'
]

# Load in the data
df = pd.read_csv(
    "/home/anm/rera_maha/final_maha/mumbai_city/building_block_details_final.csv"    
)

# Instantiate sqlachemy.create_engine object
engine = create_engine('postgresql://postgres:2020@localhost:5432/Real Estate')

# Save the data from dataframe to
# postgres table "iris_dataset"
df.to_sql(
    'buildings_block_details', 
    engine,
    index=False, # Not copying over the index
    if_exists='append'
   
)